VITE_SUPABASE_URL=https://uatejrgmbzgoeayfascf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhdGVqcmdtYnpnb2VheWZhc2NmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1MTQ2MzgsImV4cCI6MjA4MjA5MDYzOH0.X3h2HCnMgw7dzVSF3ctAm_MCnCDZoBwaxaN-TGWXul4
